# ----------------------------------
#  Integration Test Config
# ----------------------------------

# Base URL 
MINDS_API_BASE_URL=<your base url>

# URL for the OpenAPI specification.
MINDS_OPENAPI_SPEC_URL=<your base url>/openapi.json

# Authentication token, required
MINDS_API_TOKEN=your_token
