name: Run Integration Tests on Release

on:
  pull_request:
    branches:
      - main


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements_test.txt
      - name: Run integration tests
        run: |
          pytest tests/integration --disable-warnings
        env:
          PYTHONPATH: ./
          API_KEY: ${{ secrets.API_KEY }}
          BASE_URL: 'https://mdb.ai'
